*{
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
    font-family: 'Quicksand', 'Roboto', sans-serif;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&family=Roboto:wght@400;700&display=swap');



.calculator-title{
    text-align: center;
}

/* .result{
    display: flex;
    justify-content: center;
} */

.calculator-main-body{
    display: flex;
    margin: 0 auto;
    height: 450px;
    width: 280px;
    gap: 14px;
    justify-content: center;
    border-radius: 25px;
    flex-wrap:wrap;
    align-items:center;
    background-color: #212121;
    box-shadow: 5px 5px 12px rgb(0 0 0 / 50%);
    padding: 5px;
}

.calc-button{
    display: flex;
    font-weight: 700;
    color: #DFDFDF;
    width:50px;
    height:50px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    background-color: #616161;
    cursor:pointer;
    transition:all .15s ease-in-out;
}

.calc-button:hover{
    background-color: red;
}

.calc-button:active{
    transform: translateY(4px);
}

.calc-button-disabled{
    display: flex;
    font-weight: 700;
    color: #DFDFDF;
    width:50px;
    height:50px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    background-color: #616161;
    cursor:pointer;
    transition:all .15s ease-in-out;
    pointer-events: none;
}




.calc-button-equal{
    display: flex;
    font-weight: 700;
    width:110px;
    height:50px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    background-color: darkorange;
    cursor:pointer;
    transition:all .15s ease-in-out;
}

.calc-button-equal:hover{
    background-color: rgb(222, 124, 4);
}

.calc-button-equal:active{
    transform: translateY(4px);
}


.display{
    width: 240px;
    height: 60px;
    margin: 0 auto;
    background-color: aliceblue;
    border-radius: 35px;
    margin-top:10px;
    padding:5px;
}

.op-button{
    display: flex;
    font-weight: 700;
    color: #DFDFDF;
    width:50px;
    height:50px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    background-color: #616161;
    cursor:pointer;
    transition:all .15s ease-in-out;
}

.op-button:hover{
    background-color: rgb(47, 207, 207);
}

.op-button:active{
    transform:translateY(4px);
}


.clear-button{
    display: flex;
    font-weight: 700;
    color: #DFDFDF;
    width:50px;
    height:50px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    background-color: #616161;
    cursor:pointer;
    transition:all .15s ease-in-out;
}

.clear-button:hover{
    background-color: rgb(47, 207, 207);
}

.clear-button:active{
    transform:translateY(4px);
}

.footer{
    background-color: #212121;
    display: flex;
    color: white;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.final-result-top{
    height: 25px;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;

}

.final-result-bottom{
    height: 25px;
    display: flex;
    justify-content: flex-end;
    font-size: 23px;
    margin-right: 5px;
}